<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="Description" content="教育机构智能管理系统，提高管理效率，增进家校沟通">
    <meta charset="UTF-8" name="Keywords" content="校精灵 ，管理系统，家校通 ，直播课堂">
    <title>校精灵，科技为教育赋能/市场招生、教务教研、家校沟通、数据分析、直播课堂、微信营销</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
</head>

<body>
<div id="app"></div>

<% if (htmlWebpackPlugin.options.isDevelop) { %>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
<% } else { %>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
<% } %>
<script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/2.7.0/vue-router.min.js"></script>
</body>
</html>
